SUPABASE_URL=https://zpmudzaliozumlamaban.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpwbXVkemFsaW96dW1sYW1hYmFuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU0ODY5NjAsImV4cCI6MjA5MTA2Mjk2MH0.cfx7I8lOLs9hB5onflR2hyJKWJ3bmuJ9OX03Xw4b9ck
CLOUDINARY_CLOUD_NAME=dgm1pd7pk
RESEND_API_KEY=re_BrE3XngW_BcoDg3LQnMat8GRPN3nirC8D
ADMIN_EMAIL=h1101251016@student.untan.ac.id